---
type: C4 Component
title: TestResult
status: stable
groma:
  id: testresult
  parent: pi4j-test
  code:
    - scanner: java
      file: pi4j-test/src/main/java/com/pi4j/test/smoketest/TestResult.java
      symbol: TestResult
  group: Smoke Tests
---
